In [1]:
import sqlite3

In [2]:
DB_FILEPATH = 'C:/Users/iambr/Documents/sqlite/rpg_db.sqlite3'
conn = sqlite3.connect(DB_FILEPATH)
print(conn)

<sqlite3.Connection object at 0x000002B6058EA810>

In [3]:
cursor = conn.cursor()
print(cursor)

<sqlite3.Cursor object at 0x000002B605902500>

In [7]:
query = """
SELECT 
  COUNT(name) as CharacterCount
FROM charactercreator_character as characters
"""

result1 = cursor.execute(query).fetchall()
print("Total Characters: ", result1)

Total Characters:  [(302,)]

In [14]:
result1[0][0]

302

In [15]:
type(result1[0][0])

int

In [9]:
import pandas as pd
#Get columns from cursor object
columns = list(map(lambda x: x[0], cursor.description))
print(columns)

# assign to DataFrame 
df = pd.DataFrame(data=result1, columns=columns)
print(df.shape)
df.head()

['CharacterCount']
(1, 1)

   CharacterCount
0             302

In [11]:
def get_data(query, conn):
    '''Function to get data from sqlite db'''
    cursor = conn.cursor()
    result = cursor.execute(query).fetchall()
        
    #Get columns from cursor object
    columns = list(map(lambda x: x[0], cursor.description))

    # assign to DataFrame 
    df = pd.DataFrame(data=result, columns=columns)
    return df